.titlebar {
    width: 100%;
    height: 33px;
    background-color: $grey;
    display: flex;
    justify-content: space-between;
}
.titlebar .appname {
    line-height: 33px;
    margin-left: 10px;
}

.titlebar .controls {
    display: flex;
}
.titlebar .controls>div {
    width: 45px;
    text-align: center;
    line-height: 33px;
}
.titlebar .controls>div:hover {
    background-color: $grey-dark;
}