.progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
     appearance: none;
    width: 250px;
    height: 10px;
  }

  .progress[value]::-webkit-progress-bar  {
    background-color: $grey-dark;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

  .progress[value]::-webkit-progress-value {
    background-color: $grey-darker;
  }